{% extends "base.html" %}

{% block title %}All Courses{% endblock title %}

{% block content %}
<table class="table my-5 table-bordered table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th> 
      <th scope="col">Price</th>
      <th scope="col">Students Quantity</th>
      <th></th>
    </tr>
  </thead>
        <tbody>
            {% for course in courses %}
            <tr>
              <td>{{course.title}}</td>
              <td>{{course.category}}</td> 
              <td>{{course.price}}</td>
              <td>{{course.students_qty}}</td>
              <td><button class="btn btn-primary">Buy</button></td>
            </tr>
            {% endfor %} 
        </tbody>
      </table>
      {% endblock content %}
